/* for the content */

.floating-box {
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 50px;
    border: 3px solid #73AD21;  
}
/* size of box */
* {
  box-sizing: border-box;
}
/* for the font style in body  */
body {
  font-family: Arial;
  padding: 10px;
  
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #FCF951FF;
}

.header h1 {
  font-size: 50px;
    

